{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

            
               

<div class="wizard">
            <h2>Welcome back to PostIt,</h2> 
            <h3>{% trans "Sign In" %}</h3>

   
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                <label for="id_login">Username</label><br>
                {{ form.login }} <br>
                <label for="id_password">Password</label><br>
                {{ form.password }}
                <hr>
     
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button class="btn btn-signup right" type="submit">{% trans "Sign In" %}</button>
            </form>
             Don't have an account yet?<br> <a class="link" href="{{ signup_url }}">sign up</a> <hr>
</div>
{% endblock %}