{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- index.html content starts here -->

<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 ">
            <div class="row">
                {% for post in post_list %}
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-around ">
                    <div class="card mb-4 postholder data-post-id='{{ forloop.counter }}'">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <a href="{% url 'post_detail' post.slug %}"><img loading="lazy" class="card-img-top"
                                        src="{% static 'images/default.webp' %}" alt="placeholder image"></a>
                                {% else %}
                                <a href="{% url 'post_detail' post.slug %}"><img loading="lazy" class="card-img-top"
                                        src=" {{ post.featured_image.url }}" alt="{{ post.title }}"></a>
                                {% endif %}
                                <hr>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}"
                                class="post-link d-flex justify-content-center align-items-center">
                                {{ post.title }}</a>
                            <p class="card-text">{{post.excerpt}}</p>
                            <hr>
                            <p class="card-text h6">Happening on {{ post.event_start}}
                            </p>
                        </div>
                    </div>
                </div>

                {% endfor %}
                
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="pagination-container">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link btn-page-prev">&laquo; PREV</a>
            </li>
            {% endif %}
    
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" class="page-link btn-page-next">NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<div class="footer-container">
    <div class="face-container" id="face-container">
        <div class="eye left-eye"></div>
        <div class="eye right-eye"></div>
        <img src="{% static 'images/elf.webp' %}" alt="Face" class="face-image">
    </div>
</div>
<script src="{% static 'js/postColours.js' %}"></script>
<script src="{% static 'js/christmas.js' %}"></script>
<!-- index.html content ends here -->
{% endblock content %}